.container {
  max-width: var(--container-width-xl);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.narrow {
  max-width: var(--container-width-s);
}

.wide {
  max-width: calc(1200px + var(--spacing-2-xl) + var(--spacing-2-xl));
}
