.container {
  max-width: var(--container-width-xl);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (max-width: 1248px) {
    padding: 0 var(--spacing-m);
  }
}

.narrow {
  max-width: var(--container-width-s);
}

.wide {
  max-width: calc(var(--container-width-xl) + var(--spacing-2-xl) + var(--spacing-2-xl));

  @media (max-width: 1248px) {
    padding: 0 !important;
  }
}
