.apartmentRow {
  background-color: var(--color-white);
  padding: var(--spacing-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.apartmentRowLeft,
.apartmentRowRight {
  display: flex;
}

.apartmentRowLeft {
  font-size: var(--fontsize-body-l);
  align-items: baseline;
  flex-shrink: 1;

  > div {
    margin-right: var(--spacing-xl);
  }
}

.apartmentRowRight {
  flex-wrap: nowrap;
}

.apartmentStructure {
  .emphasized {
    margin-right: var(--spacing-xs);
  }
}

.emphasized {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}

.toggleButton {
  color: var(--color-black-90);
  margin-left: var(--spacing-l);
}

.toggleButtonLabel {
  padding: var(--spacing-2-xs) !important;
  margin: 0 !important;
  display: flex;
}

.formDialog {
  @media (max-width: 1247px) { // --breakpoint-l minus 1
    width: 100% !important;
  }

  @media (min-width: 1248px) { // --breakpoint-l
    width: 1200px !important;
  }

  [class*="dialogTitle"] {
    font-size: var(--fontsize-heading-l);
  }
}

.price {
  display: flex;
  align-items: baseline;

  > span + span {
    margin-left: var(--spacing-xl);
  }

  .emphasized {
    margin-left: var(--spacing-xs);
  }
}

.formDialogProjectRow {
  margin: var(--spacing-s) 0 var(--spacing-l);
}

.formDialogApartmentRow {
  margin: var(--spacing-l) 0;
  display: flex;

  .apartmentStructure {
    margin-right: var(--spacing-xl);
  }
}

.formWrapper {
  margin: 0 calc(#{var(--spacing-l)} * -1);
}
