.singleProject {
  padding: var(--spacing-m) 0;

  & + .singleProject {
    border-top: 1px solid var(--color-black-20);
  }
}

.singleApartment + .singleApartment {
  margin-top: var(--spacing-s);
}
