.projectName {
  display: flex;
  margin-bottom: var(--spacing-xs);
  align-items: baseline;
  line-height: 1;
}

.labelWrapper {
  align-self: flex-start;

  span {
    margin: -2px 0 0 0;
  }
}

.projectHousingCompany {
  margin: 0 var(--spacing-s);

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
