.apartmentActions {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-m);
  align-items: flex-end;

  @media (max-width: 1248px) {
    padding: 0 var(--spacing-m);
  }
}

.selectWrapper {
  min-width: 300px;
}

.action {
  margin-left: var(--spacing-s);
}
