.apartmentList {
  overflow: auto;
  background-color: var(--color-white);
  padding: 0 var(--spacing-s);

  @media (max-width: 1248px) {
    padding: 0 var(--spacing-m);
  }
}

.apartmentListTable {
  width: 100%;
  margin: 0;
  flex-direction: column;
  padding: 0;
  list-style: none;
  display: flex;
  min-width: 960px;
}

.apartmentListHeaders {
  align-items: baseline;
  text-align: left;
  width: 100%;
  display: flex;
}

.headerCell {
  white-space: nowrap;
  padding-top: var(--spacing-s);
  vertical-align: top;

  &.headerCellSortable {
    padding-top: 0;
  }

  &.headerCellWide {
    width: 100%;
  }

  &.headerCellHalf {
    width: 50%;

    & + .headerCellHalf {
      padding-left: var(--spacing-m);
    }
  }

  &.headerCellApartment {
    width: 225px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.headerCellParent {
  width: 100%;
  display: flex;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-3-xl);
}

.sortButton {
  background: none;
  padding: var(--spacing-s) 0;
  border: solid transparent;
  border-width: 0 0 2px 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover, &:focus {
    border-bottom-color: var(--color-black-50);

    .sortArrow {
      visibility: visible;
    }
  }
}

.sortArrow {
  color: var(--color-black-50);
  margin-left: 8px;
  visibility: hidden;
}

.sortButton.activeSort {
  color: var(--color-black);
  border-bottom-color: var(--color-black);

  .sortArrow {
    visibility: visible;
    color: inherit !important;
  }
}
