.apartmentList {
  overflow: auto;

  @media (max-width: 1248px) {
    padding: 0 var(--spacing-m);
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.apartmentListTable {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  @media (min-width: 769px) {
    display: table;
  }
}

.apartmentListHeaders {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  width: 100%;

  @media (min-width: 769px) {
    display: table-row;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.headerCell {
  white-space: nowrap;
  padding-top: var(--spacing-s);
  padding-right: var(--spacing-m);
  flex: 1;

  @media (min-width: 769px) {
    display: table-cell;
    vertical-align: top;
  }

  &.headerCellSortable {
    padding-top: 0;
  }

  &.headerCellNarrow {
    @media (min-width: 769px) {
      width: 10%;
    }
  }

  &.headerCellWide {
    width: 100%;
  }

  &.headerCellApartment {
    @media (min-width: 992px) {
      min-width: 200px;
    }
  }

  &.headerCellSpan {
    span {
      display: flex;
      align-items: center;
      min-height: 24px;
    }
  }
}

.sortButton {
  background: none;
  padding: var(--spacing-s) 0;
  border: solid transparent;
  border-width: 0 0 2px 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover, &:focus {
    border-bottom-color: var(--color-black-50);

    .sortArrow {
      visibility: visible;
    }
  }
}

.sortArrow {
  color: var(--color-black-50);
  margin-left: 8px;
  visibility: hidden;
}

.sortButton.activeSort {
  color: var(--color-black);
  border-bottom-color: var(--color-black);

  .sortArrow {
    visibility: visible;
    color: inherit !important;
  }
}
