.apartmentTableRow {
  width: 100%;
  position: relative;
  display: flex;
  padding: var(--spacing-xs) 0;
  border-top: 1px solid var(--color-black-20);
}

.cellTextStyles {
  color: var(--color-black-90);
  font-size: var(--fontsize-body-m);
  font-family: var(--font-default);
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

.cell {
  @extend .cellTextStyles;
  padding: var(--spacing-2-xs) 0;
  vertical-align: top;

  & + .cell {
    padding-left: var(--spacing-3-xl);
  }
}

.apartmentCell {
  width: 225px;
  flex-shrink: 0;
  flex-grow: 0;

  strong {
    display: inline-block;
    line-height: 1;
    font-size: var(--fontsize-body-l);
    margin-right: var(--spacing-xs);
    min-width: 35px;
  }

  span {
    display: inline-block;
  }
}

.buttonCell {
  width: 100%;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.rowToggleButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--spacing-2-xs) var(--spacing-xs) var(--spacing-2-xs) 0;
  border: none;
  background: transparent;
  line-height: var(--lineheight-l);
  cursor: pointer;

  &:disabled {
    cursor: default;
    text-decoration: none !important;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.open {
    float: right;
    width: auto;
    padding-left: var(--spacing-xs);

    > span {
      display: none;
    }
  }
}

.textMuted {
  color: var(--color-black-50);
}

.apartmentLink {
  color: var(--color-black-90);
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    border-color: var(--color-black-90);
  }
}

.apartmentLivingArea {
  color: var(--color-black-60);
}

.toggleContent {
  display: none;
  margin-right: var(--spacing-3-xl);
  position: relative;
  background: #fff;

  &.open {
    display: block;
  }
}

.singleReservation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--spacing-2-xs) 0;
  align-items: center;

  & + .singleReservation {
    border-top: 1px solid var(--color-black-20);
    padding-top: var(--spacing-s);
    margin-top: var(--spacing-2-xs);
  }
}

.singleReservationColumn {
  flex-basis: 50%;

  & + .singleReservationColumn {
    padding-left: var(--spacing-m);
  }
}
