.apartmentActions {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-l);

  @media (max-width: 1248px) {
    padding: 0 var(--spacing-m);
  }
}

.action {
  margin-left: var(--spacing-l);
}

.actionLabel {
  color: var(--label-color-default,var(--color-black-90));
  display: block;
  font-size: var(--fontsize-body-m);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: var(--spacing-3-xs);
}
