.apartmentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  &.disabledRow {
    color: var(--color-black-40);

    .offer span {
      color: inherit;
    }
  }
}

.apartmentRowLeft {
  font-size: var(--fontsize-body-l);
  align-items: baseline;
  display: flex;
  flex-shrink: 1;

  > div {
    margin-right: var(--spacing-xl);
  }
}

.apartmentRowRight {
  flex-wrap: nowrap;
  display: flex;
}

.apartmentStructure {
  min-width: 200px;

  .emphasized {
    margin-right: var(--spacing-xs);
  }
}

.emphasized {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}

.buttons {
  margin-top: var(--spacing-s);

  button {
    margin-right: var(--spacing-xs);
  }
}

.historyBtn {
  margin-left: var(--spacing-s);
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  [class*="Button-module_icon"] {
    margin: 0 !important;
  }

  [class*="Button-module_label"] {
    margin: 0 !important;
    padding: 0 !important;
  }

  .tooltip {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(-10px, -50%);
    text-align: center;
    white-space: nowrap;
    font-size: var(--fontsize-body-s);
    font-weight: 500;
    color: #fff;
    background-color: var(--color-black-80);
    padding: var(--spacing-3-xs) var(--spacing-xs);
    opacity: 0;
    visibility: hidden;

    &:before {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(-1px, -50%);
      border: solid;
      border-width: 8px 0 8px 8px;
      border-color: transparent;
      border-left-color: var(--color-black-80);
    }
  }
}

.offer {
  display: flex;
  align-items: center;
  font-size: var(--fontsize-body-s);
  white-space: nowrap;
}

.cancelText {
  font-size: var(--fontsize-body-m);
}

.noWrap {
  white-space: nowrap;
}

.historyDialog {
  width: var(--container-width-m) !important;
}

.dialogTitle {
  margin: var(--spacing-s) 0 var(--spacing-m) 0;
  font-weight: 500;

  span + span {
    margin-left: var(--spacing-2-xs);
  }
}

.historyTable {
  text-align: left;
  margin: var(--spacing-m) 0;

  tbody tr td {
    font-size: var(--fontsize-body-s);
  }
}
