.breadcrumbs {
  font-size: var(--fontsize-body-m) !important;

  ul {
    display: flex;
    align-items: center;
    margin: var(--spacing-s) 0 var(--spacing-s) -3px;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit !important;
    text-decoration: none;
    font-size: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.arrowIcon {
  margin: 0 7px 0 4px;
}
