.wrapper {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-l);
  padding: var(--spacing-xl) var(--spacing-2-xl);
  background-color: var(--color-black-5);

  h2 {
    margin-top: 0;
    margin-bottom: var(--spacing-l);
  }
}

.costIndexInfoTable {
  th {
    text-align: left;
  }
  td {
    padding-left: var(--spacing-s);
    text-align: right;
  }
  margin-bottom: var(--spacing-s);
}
