.singleProject {
  padding: var(--spacing-m) 0;

  & + .singleProject {
    border-top: 1px solid var(--color-black-20);
  }
}

.singleApartment {
  background-color: var(--color-white);
  padding: var(--spacing-s);

  & + .singleApartment {
    margin-top: var(--spacing-s);
  }
}

.apartmentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.apartmentRowLeft {
  font-size: var(--fontsize-body-l);
  align-items: baseline;
  display: flex;
  flex-shrink: 1;

  > div {
    margin-right: var(--spacing-xl);
  }
}

.apartmentRowRight {
  flex-wrap: nowrap;
}

.apartmentStructure {
  .emphasized {
    margin-right: var(--spacing-xs);
  }
}

.emphasized {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}

.buttons {
  margin-top: var(--spacing-s);

  button {
    margin-right: var(--spacing-xs);
  }
}

.offer {
  display: flex;
  align-items: center;
}

.offerTitle {
  font-weight: 500;
}

.offerArrowIcon {
  margin: 0 var(--spacing-2-xs);
}
