.apartmentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  &.disabledRow {
    color: var(--color-black-40);
  }
}

.apartmentRowLeft {
  font-size: var(--fontsize-body-l);
  align-items: baseline;
  display: flex;
  flex-shrink: 1;

  > div {
    margin-right: var(--spacing-xl);
  }
}

.apartmentRowRight {
  flex-wrap: nowrap;
}

.apartmentStructure {
  min-width: 200px;

  .emphasized {
    margin-right: var(--spacing-xs);
  }
}

.emphasized {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}

.buttons {
  margin-top: var(--spacing-s);

  button {
    margin-right: var(--spacing-xs);
  }
}

.offer {
  display: flex;
  align-items: center;
}

.offerTitle {
  font-weight: 500;
}

.offerArrowIcon {
  margin: 0 var(--spacing-2-xs);
}
