.customerTableRow {
  width: 100%;
}

.customerTableRow + .customerTableRow {
  border-top: 1px solid var(--color-black-10);
}

.customerTableCell {
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-m) 0;
}

.nameCell {
  a {
    color: inherit;
  }
}
