.singleProject {
  padding: var(--spacing-2-xs) 0;

  & + .singleProject {
    border-top: 1px solid var(--color-black-20);
  }

  &.open {
    padding-bottom: var(--spacing-m);
  }
}

.projectRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) 0;

  [class*=ProjectName] {
    margin: 0 !important;
  }
}

.accordionButton {
  [class*=Button-module_icon] {
    margin: 0;
  }

  [class*=Button-module_label] {
    display: none;
  }
}

.singleApartment {
  background-color: var(--color-white);
  padding: var(--spacing-s);

  & + .singleApartment {
    margin-top: var(--spacing-s);
  }
}

.apartmentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.apartmentRowLeft {
  font-size: var(--fontsize-body-l);
  align-items: baseline;
  display: flex;
  flex-shrink: 1;

  > div {
    margin-right: var(--spacing-xl);
  }
}

.apartmentRowRight {
  flex-wrap: nowrap;
}

.apartmentStructure {
  .emphasized {
    margin-right: var(--spacing-xs);
  }
}

.emphasized {
  font-size: var(--fontsize-body-xl);
  font-weight: bold;
}

.buttons {
  margin-top: var(--spacing-s);

  button {
    margin-right: var(--spacing-xs);
  }
}

.offer {
  display: flex;
  align-items: center;
}

.offerTitle {
  font-weight: 500;
}

.offerArrowIcon {
  margin: 0 var(--spacing-2-xs);
}
