.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-l) 0 var(--spacing-s) 0;

  h1 {
    margin: 0;
  }

  .customerEditLink {
    margin-left: var(--spacing-l);
  }

  .editBtn {
    text-decoration: none !important;
  }
}

.tabsWrapper {
  margin: var(--spacing-2-xl) 0;
}

.tabs {
  ul {
    position: relative;
    width: 100% !important;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background: var(--tablist-border-color);
      position: absolute;
      bottom: 2px;
    }
  }
}

.tabPanel {
  background-color: var(--color-black-5);
  padding: var(--spacing-xs) var(--spacing-l);
  margin-top: -2px;
}
