.header {
  background-color: var(--color-engel);
  text-align: center;

  h1 {
    margin: var(--spacing-xl) 0 var(--spacing-2-xs) 0;
    font-size: var(--fontsize-heading-l);
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: var(--spacing-4-xl) auto;
}

.toolbarLeft {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.toolbarButtons {
  white-space: nowrap;
}

.toolbarSearch {
  margin: 0 var(--spacing-l);
  width: 100%;
  max-width: 350px;
}

.toolbarRight {
  flex: 0;
  margin-left: auto;

  a {
    text-decoration: none;
    white-space: nowrap;
  }
}

.tabLinks {
  padding: 0 var(--spacing-2-xl);

  ul {
    width: 100% !important;
    display: flex;
    justify-content: stretch;
    padding-left: 1px !important;
    padding-right: 1px !important;

    li {
      flex: 1;
    }
  }
}

.singleProject {
  margin-bottom: var(--spacing-m);
}

.noProjectsText {
  padding: var(--spacing-m) var(--spacing-2-xl);
}

.searchText {
  margin-top: 0;
  margin-bottom: var(--spacing-xl);

  span {
    font-weight: normal;
  }
}
